# :Title: .gitignore
# :Description: hide local files or directories from being pushed to remote branch
# :Created: 5/30/2024
# :Last Modified: 5/31/2024
# :Author: Robert Greenslade

# Data
data/serialized
data/classes/__pycache__

# Backend
backend/console_logging/__pycache__

# Frontend
frontend/__pycache__
frontend/ui/compiled/__pycache__
frontend/widgets/__pycache__
frontend/widgets/side_widgets/__pycache__
frontend/widgets/top_widgets/__pycache__

# Middleware
middleware/__pycache__

# Miscellaneous
build.zip
.venv/
build/
pngs/